/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-400: #fbbf24;
  --primary-500: #f59e0b;
  --primary-600: #d97706;
  --primary-700: #b45309;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

/* ============= PROJECT CSS =============== */

.title {
  margin: 20px auto;
}

.btn-container {
  max-width: 30vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.img-container{
  width: 250px;
  height: 200px;
  overflow:hidden;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subtitle {
margin-top: 10px;
}

.category {
margin-top: 10px;
margin-bottom: 10px;
  color: orangered
}

.price {
  display: inline-block;
  padding: 10px;
  color: purple;
  background-color: yellowgreen;
}

.menu-container {
  max-width: 70vw;
  margin: auto;
}

.menu {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  max-width: 250px;
  margin: 20px;
}

